version: '3.8'

services:
  discord-bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: moderation-tool-bot
    restart: unless-stopped
    profiles: ["prod"]
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
    volumes:
      - ./logs:/app/logs